include ../mixins/collectionmixin.pug
section.collection 
    .collection-left 
        h1 СЕЗОН 2020/21
        .line
        .products
            +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
            +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
            +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
    .collection-right
        .new-collection 
            h1 Новая коллекция
            .line
            a(href="#") Каталог
