include ../mixins/collectionmixin.pug
section.newarrivals 
    h1 новые поступления
    .line 
    .newbox 
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
        +product("./img/watch.png","watch","Louis XVI ATHOS","165 000 руб.")
