@font-face {
    font-family: 'PlayfairDisplay-VariableFont_wght';
    src: url("../fonts/fonts/PlayfairDisplay-VariableFont_wght.woff");
    src: url("../fonts/fonts/PlayfairDisplay-VariableFont_wght.wof2");
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url("../fonts/fonts/PTSans-Regular.woff");
    src: url("../fonts/fonts/PTSans-Regular.woff2");
}

@font-face {
    font-family: 'PostNoBillsJaffnaRegular400';
    src: url("../fonts/fonts/PostNoBillsJaffnaRegular400.woff");
    src: url("../fonts/fonts/PostNoBillsJaffnaRegular400.woff2");
}

$pt:'PTSans-Regular';
$playfair:'PlayfairDisplay-VariableFont_wght';
$postno:'PostNoBillsJaffnaRegular400';
$black: #000000;
$white: #ffffff;
$navbg:#0F0F0F;
.footer {
    text-align: center;
    background: $navbg;
    h1 {
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;
        font-weight: 400;
        padding-top: 100px;
    }
    .line {
        height: 1px;
        width: 120px;
        background: $white;
        margin: 40px auto 40px;
    }
    img {
        margin: 0 15px 80px 15px;
    }
    .ads-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}