$pt:'PT Sans',
sans-serif;
$playfair:'Playfair Display',
sans-serif;
$postno:'PostNoBillsJaffnaRegular400',
sans-serif;
$black: #000000;
$white: #ffffff;
$navbg:#0F0F0F;
.footer {
    text-align: center;
    background: $navbg;
    h1 {
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;
        font-weight: 400;
        padding-top: 100px;
    }
    .line {
        height: 1px;
        width: 120px;
        background: $white;
        margin: 40px auto 40px;
    }
    img {
        margin: 0 15px 80px 15px;
    }
    .ads-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}