@font-face {
    font-family: 'PlayfairDisplay-VariableFont_wght';
    src: url("../fonts/fonts/PlayfairDisplay-VariableFont_wght.woff");
    src: url("../fonts/fonts/PlayfairDisplay-VariableFont_wght.wof2");
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url("../fonts/fonts/PTSans-Regular.woff");
    src: url("../fonts/fonts/PTSans-Regular.woff2");
}

@font-face {
    font-family: 'PostNoBillsJaffnaRegular400';
    src: url("../fonts/fonts/PostNoBillsJaffnaRegular400.woff");
    src: url("../fonts/fonts/PostNoBillsJaffnaRegular400.woff2");
}

$pt:'PTSans-Regular';
$playfair:'PlayfairDisplay-VariableFont_wght';
$postno:'PostNoBillsJaffnaRegular400';
$black: #000000;
$white: #ffffff;
$navbg:#0F0F0F;
.header {
    background-image: url(../img/headerbg.jpg);
    min-height: 810px;
    background-position: center;
    background-size: cover cover;
    text-align: center;
    padding-top: 160px;
    .header-title {
        width: 320px;
        height: 320px;
        border: 4px solid $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto 80px;
        h1 {
            font-family: $postno;
            font-weight: 700;
            font-size: 64px;
            line-height: 96px;
            text-align: center;
            border-bottom: 2px solid $white;
        }
        p {
            font-family: $pt;
            font-size: 22px;
            line-height: 28px;
            text-align: center;
            margin-top: 7px;
            text-transform: uppercase;
        }
    }
    .header-about {
        max-width: 730px;
        font-family: $pt;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 15px;
    }
}